



#slogan {
    margin-top: 0;
    padding-left: 10px;
}

#logo {
    padding: 10px 10px 2px 10px;
}

#description {
    padding: 5px 0px 2px 10px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 2px;
}



.header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    background-color: #5D5F71;
    color: white;
}