@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Merienda&display=swap");
body {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/IMG_4240.JPG);*/
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position-y: top;
  background-attachment: fixed;
}
@media (max-width: 480px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(./images/IMG_edited.JPG);
    background-attachment: scroll;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(./images/IMG_4240.JPG);
  }
}

@media (min-width: 1025px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(./images/IMG_4240.JPG);
  }
}


#logo {
  width: 120px;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 12px;
  margin-left: 0;
}

.links {
  position: relative;
  float: right;
  padding-top: 10px;
}

.links a {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
  padding: 30px 55px 0px 55px;
}

#vertical_list {
  position: relative;
  float: right;
  list-style-type: none;
  padding-right: 10px;
}

.nav-vertical li {
  padding-top: 50px;
}

#top_link {
  padding-top: 0px;
}

.nav-vertical li a {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: x-large;
}

.slogan-section {
  color: white;
  font-size: x-large;
  font-family: "Dosis", sans-serif;
  margin-top: calc(100vh - 400px);
}

.slogan-section-smaller {
  color: white;
  font-size: x-large;
  font-family: "Dosis", sans-serif;
  margin-top: calc(100vh - 300px);
}

.my-course-title {
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Dosis", sans-serif;
}

.about-me-content {
  color: white;
  font-family: "Dosis", sans-serif;
  font-size: x-large;
}

.about-me {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.course-button {
  padding-top: 90px;
}

.small-screen-button {
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-sources {
    padding-left: 2px;
}